[submodule "lazybgen/zstd"]
	path = lazybgen/zstd
	url = https://github.com/facebook/zstd.git
[submodule "lazybgen/libdeflate"]
	path = lazybgen/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
